In [3]:
import pandas as pd
ufo_data = pd.read_csv('ufo.csv', sep=',')
display(ufo_data.tail())

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [5]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'], dayfirst=True)
display(ufo_data['Time'])

0       1930-01-06 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-01-06 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [6]:
ufo_year = ufo_data['Time'].dt.year
print('Max ufo year:', ufo_year.max())
print('Mode ufo year:', ufo_year.mode()[0])

Max ufo year: 2000
Mode ufo year: 1999

In [8]:
ufo_data['Date'] = ufo_data['Time'].dt.date
print(ufo_data[ufo_data['State']=='NV']['Date'].diff().dt.days.mean())

68.72084805653711