In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import plot, iplot, init_notebook_mode
init_notebook_mode(connected=True)
import plotly.io as pio

In [3]:
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b, a == c, a is b, a is c)

True True True False

In [1]:
one = [1, "2", 3, "4"]

In [5]:
two = ("a", "b", "c", "d")

In [2]:
one.append(5)

In [6]:
one.extend(two)

In [11]:
print(three)

('a', 'b', 'c', 'd', 'f', 'g')

In [ ]:
two = ("a", "b", "c", "d")

In [24]:
my_lst = ["a", "b", "c", "d"]

In [30]:
my_lst = my_lst[::-1]

In [27]:
my_lst.reverse()

In [31]:
print(my_lst)

['d', 'c', 'b', 'a']

In [32]:
my_lst = my_lst[:-1]

In [33]:
print(my_lst)

['d', 'c', 'b']

In [35]:
my_dict = {
    'Red Square': 'Russia',
    'Swallow Nest': 'Russia',
    'Niagara Falls': 'USA',
    'Grand Canyon': 'USA',
    'Louvre': 'France',
    'Hermitage': 'Russia'
}

In [37]:
sorted(my_dict)

['Grand Canyon',
 'Hermitage',
 'Louvre',
 'Niagara Falls',
 'Red Square',
 'Swallow Nest']

In [38]:
my_dict = sorted(my_dict.keys())

In [39]:
print(my_dict)

['Grand Canyon', 'Hermitage', 'Louvre', 'Niagara Falls', 'Red Square', 'Swallow Nest']

In [42]:
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some",
            "password": "some"
        },
        "name": "2491Oaaf1414"
    }
}

In [43]:
config['configuration']['ssh']['login']

'some'

In [59]:
vector_a = 30
vector_b = 120

In [51]:
np.linalg.norm(vector_a) == np.linalg.norm(vector_b)

False

In [63]:
np.dot(vector_a, vector_b) == 90

False

In [62]:
np.sqrt(vector_a - vector_b) == 0

C:\Users\larit\AppData\Local\Temp\ipykernel_5960\2142222672.py:1: RuntimeWarning:

invalid value encountered in sqrt

False

In [54]:
np.linspace(10, 20)

array([10.        , 10.20408163, 10.40816327, 10.6122449 , 10.81632653,
       11.02040816, 11.2244898 , 11.42857143, 11.63265306, 11.83673469,
       12.04081633, 12.24489796, 12.44897959, 12.65306122, 12.85714286,
       13.06122449, 13.26530612, 13.46938776, 13.67346939, 13.87755102,
       14.08163265, 14.28571429, 14.48979592, 14.69387755, 14.89795918,
       15.10204082, 15.30612245, 15.51020408, 15.71428571, 15.91836735,
       16.12244898, 16.32653061, 16.53061224, 16.73469388, 16.93877551,
       17.14285714, 17.34693878, 17.55102041, 17.75510204, 17.95918367,
       18.16326531, 18.36734694, 18.57142857, 18.7755102 , 18.97959184,
       19.18367347, 19.3877551 , 19.59183673, 19.79591837, 20.        ])

In [58]:
np.ones((10, 20))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.]])

In [64]:
solar_data = pd.read_csv('solarpower.csv')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [65]:
solar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    object
 1   cum_power  664 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.5+ KB